<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674193995469-uar5rpaglk3v8mposiqiqapm1o34cdcc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674193995469-uar5rpaglk3v8mposiqiqapm1o34cdcc</string>
	<key>API_KEY</key>
	<string>AIzaSyD9_agknf9E38JXl23zCBwj-hrEve1mAOw</string>
	<key>GCM_SENDER_ID</key>
	<string>674193995469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ready.preps</string>
	<key>PROJECT_ID</key>
	<string>preps-project</string>
	<key>STORAGE_BUCKET</key>
	<string>preps-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674193995469:ios:6cd6624464e48f88d61b84</string>
	<key>DATABASE_URL</key>
	<string>https://preps-project.firebaseio.com</string>
</dict>
</plist>